body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	color: #333;
	background-color: #eee;
}

h1, h2, h3, h4, h5, h6{
	font-weight: 200;
}

h1{
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 2px solid #2fcc71;
	max-width: 40%;
	margin: 20px auto;
}
h3{
	text-align: center;
	max-width: 40%;
	margin: 20px auto;
    text-size-adjust: 60px;
}
/* CONTAINERS */

.container {max-width: 850px; width: 100%; margin: 0 auto;}
.four { width: 32.26%; max-width: 32.26%;}


/* COLUMNS */

.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}

.col:first-of-type { margin-left: 0; }

/* CLEARFIX */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* FORM */

.form .plan input, .form .payment-plan input, .form .payment-type input{
	display: none;
}

.form label{
	position: relative;
	color: #fff;
	background-color: #aaa;
	font-size: 26px;
	text-align: center;
	height: 150px;
	line-height: 150px;
	display: block;
	cursor: pointer;
	border: 3px solid transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form .plan input:checked + label, .form .payment-plan input:checked + label, .form .payment-type input:checked + label{
	border: 3px solid #333;
	background-color: #2fcc71;
}

.form .plan input:checked + label:after, form .payment-plan input:checked + label:after, .form .payment-type input:checked + label:after{
	content: "\2713";
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 100%;
	border: 2px solid #333;
	background-color: #2fcc71;
	z-index: 999;
	position: absolute;
	top: -10px;
	right: -10px;
}

.submit{
	padding: 15px 60px;
	display: inline-block;
	border: none;
	margin: 20px 0;
	background-color: #2fcc71;
	color: #fff;
	border: 2px solid #333;
	font-size: 18px;
	-webkit-transition: transform 0.3s ease-in-out;
	-o-transition: transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out;
    
}

.submit:hover{
	cursor: pointer;
	transform: rotateX(360deg);
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.header back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media(min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 270px;
}
.nav-links{
    flex: 1;
    text-align: right;
    font-size: 25px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 22px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #a5f371;
    display: block;
    margin: auto;
    transition: 0.25s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text h1{
    font-size: 67px;
}
.text p{
    margin: 10px 0px 40px;
    font-size: 14px;
    color: white;
}
.donate-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 30px solid white;
    padding: 30px 34px;
    font-size: 30px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.donate-btn:hover{
    border: 1px solid rgb(19, 73, 6);
    background: rgb(5, 56, 10);
    transition: 0.7s;
}
nav .fa{
    display: none;
}
@media(max-width: 700px){
    .text h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background:rgb(189, 165, 33);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}
.donate-btn{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin-top: 10px;
  }
  .donate-btn:hover{
    border: 1px solid rgb(0, 0, 0);
    background: rgb(61, 219, 100);
    transition: 0.7s;
  }
  .wsx{
    float: center;
    margin-left: 450px;
  }